@use "./variables.scss" as *;

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 486px;
  height: 100vh;
  background: $primary-color;
  z-index: 999;
  box-shadow: -5px 0 6px 0 #00000013;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 36px 22px 35px 47px;

  & h3 {
    font-size: 1.6875rem;
    color: $white;
    font-weight: 700;
  }

  & button {
    color: $white;
    background-color: $black;
    border-radius: 100%;
    border: none;

    width: 38px;
    height: 38px;

    &:hover {
      cursor: pointer;
    }
  }
}

.cartList {
  padding: 35px 60px 35px 47px;
}

.cartCard {
  
}

.cartBtn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  background: $white;
  color: $black;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & span {
    font-size: 1.125rem;
    font-weight: 700;
  }

  &:hover {
    cursor: pointer;
  }
}
