@use "./variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
}

li {
  list-style: none;
}

main {
  min-height: calc(100vh - 132px);
  padding-top: 116px;
  
  @media (max-width: 1024px) {
    padding: 2rem 0;
  }
}

a {
  text-decoration: none;
}


::-webkit-scrollbar {
  background: $primary-color;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 20px;
}