@use './variables.scss' as *;

.header {
    width: 100%;
    background-color: $primary-color;
    color: $white;

    padding: 26.5px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    line-height: 1.2rem;
    font-weight: 600;


    & span {
        font-size: 1.25rem;
        font-weight: 300;
    }
}